@mixin designs {
	.pilger-login-view {
		background-color: transparent;
        background-image: url("img/mutterGottes.jpg");
        background-size: cover;
        width: 100%;
        height: 100%;
    	
		.v-textfield {
      		padding-left: 0;
      		border: 0;
      		font-weight: 100;
      		background-color:	#ffec8b;
   		}
   	
   		div {
   			
   		}
   	}

	.pilger-grid {
      	.v-button {
        	border-radius: 0;
        	font-size: 24px;
      	}
		.v-horizontal > .v-spacing {
    		width: 2px;
		}
   	}
   
    .navigation-bar {
      color: lighten($v-focus-color, 40%);
      background-size: cover;
      background-position: top;

      .v-button {
        border-radius: 0;
      }
      .selected {
        background: rgba(0, 0, 0, .2);
        color: lighten($v-focus-color, 60%);
        .v-icon, .v-button-caption {
          color: lighten($v-focus-color, 60%);
        }
      }
      .activeViewName {
        line-height: $v-unit-size;
        width: auto !important;
        padding: 0 $v-unit-size / 2.5;
        font-size: $v-font-size;
      }
    }
 }
